body {
    padding: 30px 50px;

    background-color: $black-color;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border-radius: 10px;
    background-color: #272727;
    padding: 30px 50px;
}

.search {
    width: 100%;
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    input {
        width: 96.6%;
        border: none;
        background-color: #e5e5e5;
        border-radius: 0;
        outline: none;
    
    }

    img {
        width: 20px;
        height: 20px;
        transition: width 0.2s, height 0.2s;
        cursor: pointer;
        
        &:hover {
            width: 22px;
            height: 22px;
        }
        &:active {
            width: 18px;
            height: 18px;
        }
    }
}

.university-container {
    height: 150px;
    width: 100%;
    background-color: #393939;
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    overflow: hidden;

    &:hover {
        transform: scale(1.01);
    }
    &:active {
        transform: scale(0.99);
    }

    &__text{
        margin: auto;
        text-align: center;

        h2 {
            font-size: 18px;
            color: $white-color;
            margin: 30px;
        }
        p {
            font-size: 16px;
            color: rgb(188, 188, 188);
        }
    }

    img {
        margin-left: -10px;
        width: 180px;
        height: 120%;
        margin-right: 10px;
    }
}

.loading {
    color: #e5e5e5;
}